body {
  font-family: sans-serif;
  color:#888888;
  font-size:28px;
  font-weight:bold;
  background-color: #313131;
}
a {
  color:#aaaaaa;
  text-decoration: none;
}
a:visited {
  color:#999999;
  text-decoration: none;
}

#resetter {
  width: 100px;
  height: 50px;
  color: white;
}

.should-reload-true {
  background-color: green;
}

.should-reload-false {
  background-color: red;
}
